* {
    margin:0;
    padding:0;
}
body {
    background: linear-gradient(315deg, #ffffff, #d7e1ec);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh;
}

#paragraph {
    padding-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
    max-width: fit-content; 
    margin-left: auto; 
    margin-right: auto;
}

h1 {
    padding-top: 5%;
    font-size: 90px;
    max-width: fit-content; 
    margin-left: auto; 
    margin-right: auto;
}

#name {
    font-style: italic; 
    display: inline-flex; 
}

nav {
    background-color: #7289da;
    font-family: "Dela Gothic One";
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #2e2f31;
}

nav a:hover {
    background-color: #a7baff;
    transition: .5s;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

@media(max-width: 700px) {
    .hideOnMobile {
        display: none;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}

#about {
    height: 50%;
    width: auto;
    align-items: center;
}

.socials-container {
    padding-top: 20px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    place-items: center;
    display: flex;
    place-items: center;
    gap: 10px;
}

.socials-container a {
    background-color: white;
    padding: 1em;
    border-radius: 50%;
    height: 54px;
    width: 54px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.socials-container a svg{
    width: 100%;
    height: auto;
}

.socials-container a::before {
    content: attr(data-social);
    position: absolute;
    background-color: var(--accent-color);
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(0.23, -0.26, 0.53, 1.26);
}

.socials-container a:hover {
    background-color: var(--accent-color);
    fill: white;
}

.socials-container a::after {
    content: ' ';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color);
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(0.62, -0.58, 0.21, 1.48);
}

.socials-container a:hover::before {
    transform: translateY(-65px) rotate(0);
    opacity: 1;
}

.socials-container a:hover::after {
    transform: translateY(-43.5px) rotate(0);
    opacity: 1;
}
